<!DOCTYPE html>
<html>    
    <head>
           <title>Test Calendar</title>
           <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>            
           <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
           <link href="../calendar/calendar.css" rel="stylesheet">
    </head>
    <body>
        <form name="myForm" onsubmit="return false" method="post" enctype="multipart/form-data" >
            
            <div class="form-group row">
                <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
                <div class="col-sm-5">
                    <input type="date" id="startDate" value="" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="numberOfDates" class="col-sm-2 col-form-label">Number of Days:</label>
                <div class="col-sm-5">
                    <input type="number" id="numberOfDates" value="" min=1 class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="countryCode" class="col-sm-2 col-form-label">Country Code:</label>
                <div class="col-sm-5">
                    <input type="text" id="countryCode" placeholder="us OR cr" value="" class="form-control" required>
                </div>
            </div>

            <input  type="submit" value="Submit" onclick="loadCalendar()" class="btn btn-primary">

        </form>

        <div class="container" id="app">
            <div class="row" v-for="todo in todos" v-cloak>
                <div class="col-3" >
                    <div class="row">
                            <hr>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <strong>{{ todo.month }}</strong>
                        </div>
                    </div>

                    <div class="grid-calendar">                    
                        <div class="row calendar-week-header">
                            <div class="col-xs-1 grid-cell"><div><div><span>Su</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>Mo</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>Tu</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>We</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>Th</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>Fr</span></div></div></div>
                            <div class="col-xs-1 grid-cell"><div><div><span>Sa</span></div></div></div>
                        </div>


                        <div class="row calendar-week">
                            <template v-for="(n, i) in getMonth(todo)">                                   
                                    <div class="col-xs-1 grid-cell disabled"  v-if="n == ' '" >                                        
                                        {{ n }} 
                                    </div>
                                    <template v-else>
                                        <template v-if="isHoliday(n, todo.monthNumber)">
                                            <div class="col-xs-1 grid-cell holiday">
                                                {{ n }}
                                            </div>
                                        </template>
                                        <template v-else>
                                            <div class="col-xs-1 grid-cell weekend" v-if="isWeekend(i)">
                                                {{ n }}
                                            </div>
                                            <div class="col-xs-1 grid-cell" v-else>
                                                {{ n }}
                                            </div>
                                        </template>
                                    </template>                                    
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="../calendar/calendar.js" >        
        </script>
    </body>
</html>
